<script setup lang="ts">
import { useConfirmStore } from "@/stores/confirm";
import { useEmployeeStore } from "@/stores/employee";
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import EmployeeDialog from "./EmployeeDialog.vue";

const employeeStore = useEmployeeStore();
const confirmStore = useConfirmStore();

onMounted(async () => {
  await employeeStore.getEmployees();
});
</script>

<template>
  <EmployeeDialog></EmployeeDialog>
  <v-btn @click="employeeStore.dialog = true">Add new</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of employeeStore.employees" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.position }}</td>
        <td>
          <v-btn class="mr-5" @click="employeeStore.editEmployee(item)"
            >Edit</v-btn
          ><v-btn @click="confirmStore.cancelConfirm(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
